<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

{% if request.session.username %}
    <p>
        欢迎您，用户{{ request.session.username }}
    </p>
    <p>
        <a href="/user/logout">退出登录</a>
    </p>
    <p>
        <a href="/subjectManagement/subjects">课程管理</a>
    </p>
{% else %}
    {% if request.COOKIES.username %}
        <p>
            欢迎您，用户{{ request.COOKIES.username }}
        </p>
        <p>
            <a href="/user/logout">退出登录</a>
        </p>
        <p>
            <a href="">课程管理</a>
        </p>
    {% else %}
        <p>
            <a href="/user/login">用户登录</a>
        </p>
        <p>
            <a href="/user/register">用户注册</a>
        </p>
    {% endif %}
{% endif %}

</body>
</html>